*

!Justfile
!.gitignore
!README.md

!*.odin

!freya/
!freya/**
!freya/**/*.odin
!freya/*.odin

!sandbox/
!sandbox/**
!sandbox/**/*.odin
!sandbox/*.odin

!shaders/
!shaders/*.glsl

!assets/
!assets/*
!assets/textures/.gitkeep

!freya_kanban
