*

!Justfile
!.gitignore
!README.md

!.vscode/
!.vscode/**

!*.odin

!freya/
!freya/**
!freya/**/*.odin
!freya/*.odin

!sandbox/
!sandbox/**
!sandbox/**/*.odin
!sandbox/*.odin


!animagik/
!animagik/**
!animagik/**/*.odin
!animagik/*.odin

!shaders/
!shaders/*.glsl

!assets/
!assets/*
!assets/textures/.gitkeep

!freya_kanban

!build.sh
!build.bat

!build/
!build/libs
!build/libs/*

!assets/
!assets/models
!assets/models/backpack
!assets/models/backpack/**

!assets/models/vampire
!assets/models/vampire/**

!report/

!report/assets/
!report/assets/images/
!report/assets/images/*

!report/chapters/
!report/chapters/*.typ

!report/*.typ
!report/*.typ
!report/works.bib
