*

!Justfile
!.gitignore
!README.md

!.vscode/
!.vscode/**

!*.odin

!freya/
!freya/**
!freya/**/*.odin
!freya/*.odin

!sandbox/
!sandbox/**
!sandbox/**/*.odin
!sandbox/*.odin


!animagik/
!animagik/**
!animagik/**/*.odin
!animagik/*.odin

!shaders/
!shaders/*.glsl

!assets/
!assets/*
!assets/textures/.gitkeep

!freya_kanban

!build.sh
!build.bat
